<h1> Lanchonete </h1>

<body>
<p>Sejam bem vindos ao nosso ambiete virtual</p>
</body>

|<%= link_to 'Categorias', categories_path%>|
|<%= link_to 'Itens', items_path%>|
|<%= link_to 'Pedidos', requests_path%>|
|<%= link_to 'Cardápio', menus_path%>|
